<h2 class="px-5 py-3">Add Workout</h2>

<%= render partial: 'form', locals: { workout: @workout, exercises: @exercises } %>

<div class="px-5 py-3">
  <%= link_to 'All Workouts', workouts_path %>
</div>
