<h2>Workouts</h2>

<ul>
  <% @workouts.each do |workout| %>
    <li><%= link_to workout.name, workout_path(workout) %></li>
  <% end %>
</ul>

<%= button_to 'New Workout', new_workout_path, method: :get %>
