<h2 class="px-5 py-3">Log In</h2>

<%= render partial: 'messages/flash_error' %>

<%= form_with url: sessions_path, local: true do %>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>

  <%= submit_tag 'Log In' %>

<% end %>

<br>

<p>Don't have an account? <%= link_to 'Sign up', signup_path %>.</p>
