<% if logged_in? %>
  <h2>Welcome, <%= current_user.first_name %>!</h2>
<% else %>
  <h2>Welcome to Spotter!</h2>
<% end %>

<% if logged_in? %>
  <p>Happy lifting!</p>
<% else %>
  <p>Create an account or log in to start tracking your progress.</p>
  <%= button_to 'Sign Up', signup_path, method: :get %></li>
  <%= button_to 'Log In', login_path, method: :get %></li>
<% end %>
