<% if logged_in? %>
  <h2 class="py-3">Welcome, <%= current_user.first_name %>!</h2>
<% else %>
  <h2 class="py-3">Welcome to Spotter!</h2>
<% end %>

<% if logged_in? %>
  <h4>Happy lifting!</h4>
<% else %>
  <h4 class="pb-3">Create an account or log in to start tracking your progress.</h4>
  <div class="btn-toolbar float-left">
    <%= button_to 'Sign Up', signup_path, method: :get, class: "mr-3" %>
    <%= button_to 'Log In', login_path, method: :get, class: "mr-3" %>
  </div>
<% end %>

<div>
  <img src="https://cdn.clipart.email/47aaca56584becdc092a4ead2794c0d2_motivation-clipart-fitness-motivation-motivation-fitness-_634-531.png" class="img-fluid rounded mx-auto d-block" alt="Responsive clipart image">
</div>
