<% if logged_in? %>
  <h2>Welcome, <%= current_user.first_name %>!</h2>
<% else %>
  <h2>Welcome to Spotter!</h2>
<% end %>

<% if logged_in? %>
  <p>Happy lifting!</p>
<% else %>
  <p>Get started with an account.</p>
  <%= button_to 'Sign Up', signup_path, method: :get %></li>
<% end %>
