<h2 class="px-5 py-3">Edit Scheduled Workout</h2>

<%= render partial: 'form', locals: { scheduled_workout: @scheduled_workout, workouts: @workouts } %>

<br>

<%= link_to 'Back to Schedule', scheduled_workouts_path %>
