<h2>Exercises</h2>

<ul>
  <% @exercises.each do |exercise| %>
    <li><%= link_to exercise.name, exercise_path(exercise) %></li>
  <% end %>
</ul>

<%= button_to 'New Exercise', new_exercise_path, method: :get %>
