<h2 class="py-3">Exercises</h2>

<ul>
  <% @exercises.each do |exercise| %>
    <li><%= link_to exercise.name, exercise_path(exercise) %></li>
  <% end %>
</ul>

<div class="py-3">
  <%= button_to 'New Exercise', new_exercise_path, method: :get %>
</div>
